.parent{
    height: 400px;
    border: solid wheat 1px;
    background-image: url(./images/back\ 55.jpeg);
    background-size: cover;
    text-align: center;
    /* background-color: aqua; */
}
#p1{
    color: white;
    font-size: 121px;
    margin-top: -16px;
    margin-bottom: 0%;
    float: left;
}
pre{
    font-size: 250%;
    font-style: italic;
    margin-top: -60px;
    float: left;
    margin-left: -4%;
    color: rgb(237, 235, 244);
}
span{
    color: white;
    /* float: left; */
    margin-top: 5%;
}
#b1:hover{
    background-color: blue;
    color: white;
}
#b1{
    height: 40px;
    border-radius: 300px;
    background-color: white;
    color: blue;
    padding-left: 50px;
    padding-right: 50px;
    float: left;
    margin-top: 24px;
    margin-left: -173px;
}
.stc1{
    text-align: center;
    opacity: 0.75;
    width: 14%;
    height: 50px;
    position: fixed;
    top: 3px;
    left: 84.7%;
    border: 0px;
    border-radius: 30px;
    background-color: white;
}
::placeholder{
    color: black;
    opacity: 1;
}
.stc1:hover{
    text-align: start;
    opacity: 1;
    background-color: white;
}
.title{
    background-color: rgb(191, 195, 192);
    height: 50px;
    width: 84.8%;
    margin-bottom: -5px;
    float: left;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 5px;
}
.col{
    border: 0px;
    height: 50px;
    background-color: rgb(179, 245, 196);
    text-align: justify;
}
.col1{
    height: 100%;
    background-color: rgb(180, 245, 179);
    width: 7%;
    text-align: justify;
}
.col2{
    width: 10%;
    text-align: justify;
    padding-top: 0%;
    padding-bottom: 2%;
}
.col3{
    width: 10%;
    text-align: justify;
}
.col4{
    width: 10%;
    text-align: justify;
}
.col6{
    width: 10%;
    text-align: justify;
}
.col7{
    width: 10%;
    text-align: justify;
}
.col8{
    height: 100%;
    background-color: rgb(186, 245, 179);
    width: 42%;
    text-align: justify;
}
.col9{
    width: 15%;
    margin-left: 0.2%;
    text-align: justify;
    padding-top: 0%;
    padding-bottom: 2%;
}
.col:hover{
    background-color: black;
    color: antiquewhite;
    margin-top: 5px;
}
.col8:hover{
    margin-top: 0px;
}
h1{
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    color: rgb(7, 7, 7);
}
img{
    width: 22%;
    height: 66%;
}
.s1{
    height: 283px;
    width: 100%;
    background-color: wheat;
}
#j{
    padding-left: 5%;
    padding-left: 5%;
    margin-left: 436px;
    margin-top: -190px;
    color: rgb(13, 14, 14);
    font-size: x-large;
}
.s2{
    margin left: 500px;
    height: 283px;
    width: 100%;
    background-color: cornsilk;
}
#r{
    margin-left: 93%;
}
#i{
    margin-left: 77%;
}
#m{
    margin-left: 49%;
    margin-top: -10%;
    font-size: x-large;
}
#m1{
    margin-left: 24%;
    margin-top: -10%;
    font-size: x-large;
}
#b{
    width: 50%;
    height: 50%;
}